@model Post

<h1 class="text-center py-3">Create a New Post</h1>


<div class="border p-5">
    <form method="post" enctype="multipart/form-data" >
        <div class="mb-3">
            <label class="form-label">Select Image For Your Blog Post</label>
            <input name="file" class="form-control" type="file">
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Blog Post Title</label>
            <input asp-for="Title" type="text" class="form-control" placeholder="Title">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Write About Your Blog Post</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3" >
            <label asp-for="Description" class="form-label">Select Category</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">
                <option selected disabled >Select Category</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
</div>
